html,body{ margin:0; padding:0; height:100%; width:100%; }

a {
    color: black;
}

#full-size{
  height:100%;
  width:100%;
  overflow:auto;
  display: flex;
  justify-content:center;
}

.left-block {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 409%;
}

.left-block-top {
    display:inline-block;
    background-color: gray;
    height: 100px;
}

.center-block {
    display: flex;
    flex-direction: column;
    height: 409%;
    width: 40%;
    margin-right: -5px;
    position: relative;
    min-height: 150px;
}

.center-block-top{
    display:flex;
    flex-direction: row;

    width: 100%;
    height: 100px;
    margin-top: 0px;
    background-color: grey;
}

.logo-nin {
    height: 95px;
    width: 250px;
    display:inline-block;
}

.center-textbar {
    display:inline-block;
    align-self:flex-end;
    margin-bottom: 10px;
    height:25px;
    flex: 1;

    background: url(zoom.png) no-repeat scroll 5px 5px;
    padding-left:30px;
    background-size: 20px;
}

.center-textbar::placeholder{
    color: black;
}

.center-button {
    display:inline-block;
    align-self:flex-end;
    margin-bottom: 10px;
    height: 32px;
    margin-left: 10px;
    border-radius: 2px;
    border-style: none;
}

.center-button:hover{
    cursor: pointer;
}

.center-block-middle{
    flex:1;
}

.center-block-info {
    display: flex;
    flex-direction: row;
    height: 50px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    background-color: #6f2c27;
    color: white;
}

.center-block-info-home {
    flex:1;
    margin-left: 10px;
}

.center-block-info-news {
    flex:1;
}

.center-block-info-about {
    flex:1;
}

.PHM {
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.PHM-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.PHM-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    color: black;
    height: 100%;
}

.broken {
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.broken-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.broken-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.TDS {
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.TDS-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.TDS-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.TF {
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}


.TF-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.TF-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.teeth{
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.teeth-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.teeth-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.year-zero{
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.year-zero-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.year-zero-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.ghosts{
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.ghosts-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.ghosts-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.the_slip{
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.the_slip-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.the_slip-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.hesitation{
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.hesitation-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.hesitation-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.events{
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.events-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.events-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.violence{
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.violence-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.violence-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.witch {
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.witch-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.witch-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.together {
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.together-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.together-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.locusts {
    margin: 10px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.locusts-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.locusts-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.together-image {
    width: 240px;
    height: 250px;
    display: inline-block;
    border: solid 1px black;
}

.together-text {
    display: inline-block;
    align-self:center;
    text-align:center;
    flex: 1;
    height: 100%;
}

.right-block {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 409%;
    width: 30%;
    margin-left: 5px;
    
}

.right-block-top {
    display:inline-block;
    background-color: grey;
    height: 100px;
}

.right-socialmedia {
    display:flex;
    flex-direction: column;
    background-color: black;
    height: 500px;
    width: 30%;
}

.facebook {
    width: 75%;
    margin-bottom: 10px;
}

.instagram {
    width: 75%;
}